<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<connectionStrings>
		<!--<add name="conHTE" providerName="SQLServer" connectionString="uid=UsrHHMMDesa;pwd=HHMMDesa;server=192.168.1.10;database=HHMMDesa;Connection Timeout=20000"/>-->
		<!--<add name="conHTE" providerName="SQLServer" connectionString="uid=UsrHHMMProd;pwd=HHMMProd;server=192.168.1.10;database=HHMMProd;Connection Timeout=20000"/>-->
		<!--<add name="conHTE" providerName="SQLServer" connectionString="uid=UsrHHMMProd;pwd=HHMMProd;server=192.168.1.10;database=HTE_HHMM;Connection Timeout=20000"/>-->
		<!--Esto es el original
		<add name="conHTE" providerName="SQLServer" connectionString="uid=UsrSANNA_HTE_HHMM;pwd=SANNA_HTE_HHMM;server=192.168.1.10;database=SANNA_HTE_HHMM;Connection Timeout=20000"/>
		-->
		<add name="conHTE" providerName="SQLServer" connectionString="uid=UsrSANNA_HHMM;pwd=SANNA_HHMM;server=172.0.10.30\dev;database=SANNA_HHMM;Connection Timeout=20000"/>
		<add name="_conexionHHMMCSB" providerName="SQLServer" connectionString="uid=UsrSANNA_HHMMCSB;pwd=SANNA_HHMMCSB;server=172.0.10.30\dev;database=SANNA_HHMMCSB;Connection Timeout=20000"/>
		<!--<add name="conHTE" providerName="SQLServer" connectionString="uid=UsrHHMMTest;pwd=HHMMTest;server=10.1.4.51;database=HHMMTest;Connection Timeout=20000"/>-->
		<!--<add name="conHTE" providerName="SQLServer" connectionString="uid=UsrHHMMTest;pwd=HHMMTest;server=10.1.4.53;database=HHMMTest;Connection Timeout=20000"/>-->
		<!--<add name="conHTE" providerName="SQLServer" connectionString="uid=UsrHHMMTest;pwd=HHMMTest;server=10.1.4.53;database=HTE_HHMM;Connection Timeout=20000"/>-->
		<!--<add name="conHTE" providerName="SQLServer" connectionString="uid=UsrHHMMTest;pwd=HHMMTest;server=10.1.4.53;database=HHMMTest2"/>-->
	</connectionStrings>
	<appSettings>
		<add key="rutaLog" value="D:\Logs\"/>
		<!--<add key="rutaPDF" value="D:\WEBIIS\HHMM\HHMM.AppWeb\ArchivoPDF\"/>-->		
		<add key="CorreoServidor" value="smtp.gmail.com" />
		<add key="CorreoPuerto" value="587" />
		<!--<add key="CorreoDe" value="noreply.softvan@gmail.com" />-->
		<!--<add key="CorreoDe" value="noreply.softvan@gmail.com" />
		<add key="CorreoClave" value="saposalagua124$$" />-->
		<add key="CorreoDe" value="no-reply@softvan.com.pe" />
		<add key="CorreoClave" value="gadtdeejljwjftjt" />
		<add key="CorreoTest" value="gustavo.reque@softvan.com.pe" />
		<add key="CorreoHabilitarCuerpoHtml" value="false" />
		<add key="CorreoHabilitarSSL" value="true" />
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<!--<add key="ServidorSPRING" value="10.1.2.24|SpringSalud_Produccion"/>-->
		<!--<add key="ServidorSPRING" value="192.168.1.10|QA_SpringSalud_PreProduccion"/>-->
		
		<!--<add key="rutaPDF" value="C:\WEBIIS\"/>-->
		
		<add key="rutaPDF-000000" value="D:\Files\HHMM\ArchivoPDF\"/>
		<add key="rutaContrato-000000" value="D:\Contratos\"/>
		<add key="rutaContratoFijo-000000" value="D:\ContratosFijo\"/>
		
		<add key="rutaPDF-000001" value="D:\Files\HHMM\ArchivoPDF\"/>
		<add key="rutaContrato-000001" value="D:\Contratos\"/>
		<add key="rutaContratoFijo-000001" value="D:\ContratosFijo\"/>
		
		<add key="ServidorSPRING-000000" value="172.0.0.49|SANNA_SpringSalud"/>
		<add key="ActivarInterfacesSPRING-000000" value="true"/> <!--"true" lo activa,"false" lo desactiva-->
		
		<add key="ServidorSPRING-000001" value="172.0.0.49|SANNA_SpringSalud"/>
		<add key="ActivarInterfacesSPRING-000001" value="true"/> <!--"true" lo activa,"false" lo desactiva-->
		
		
		<add key="ComboPlanillaActivacion" value="false"/>	<!--"true" lo activa,"false" lo desactiva-->	
    <add key="IndicadorAutorizacionContrato" value="false"/> <!--"true" lo activa,"false" lo desactiva-->    
    <add key="InterfaseResumenProceso" value="true"/> <!--"true" lo activa,"false" lo desactiva-->    
    <!--<add key="WebSocketIp" value="192.168.1.10"/>-->
		<add key="WebSocketIp" value="127.0.0.1"/>
		<add key="WebSocketPuerto" value="9002"/>
    <add key="WebSocketCliente" value="127.0.0.1"/>
     <add key="rutaCer" value="0"/>
    <add key="passCer" value="0"/>
    <!--WebSocket Tipo Http=false o Https=true-->
    <add key="WebSocketHttps" value="false"/>
		<add key="TituloAplicativo" value="SISTEMA DE PRUEBA"/>
	  <add key="VersionJS" value="1044" />
	  <add key="VersionAplicativo" value="1029 - 19/11/2019" />
    <add key="_TiempoEspera" value="20000"/>
    <add key="NumeroMeses" value="6"/>
  

    <add key="ConnectionActiveDirectory" value="itdg.local" /><!--separar por ; para mas de uno-->
    <add key="DomainActiveDirectory" value="itdg" /><!--separar por ; para mas de uno-->
		<!--<add key="ListaCompanias" value="000000¦Sis.Adm.Hospitalaria¦Sist. Administracion Hospitalaria SAC¬000001¦San Borja¦San Borja"/>--> 
		<add key="ListaCompanias" value="000000|Sis.Adm.Hospitalaria|Sist. Administracion Hospitalaria SAC"/> 
		
	</appSettings>
	<system.web>
		<globalization uiCulture="es-PE" culture="es-PE" />
		<httpRuntime targetFramework="4.5" maxRequestLength="12500"/>
		<compilation debug="true" targetFramework="4.5" />
		<customErrors mode="RemoteOnly"/>
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<sessionState timeout="40"></sessionState>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
</configuration>