.cerrarPopUp {
    right: -190px;
}

#divAdjunto a{
	margin-right: 20px;
}

.contenido-busqueda {
width: 100%;
    max-width: 60%;
    min-width: 400px;
    margin: auto;
    margin-bottom: 20px;
    background-color: #fff;
}