html, body {
    width: auto;
    font-family: Tahoma !important;
    font-size: 12px !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.frm-cabecera {
    font-size: 18px;
    background-color: #00a850;
    border-color: #00a850;
    color: #fff;
    padding: 10px 15px;
    border-top: 1px solid red;
    /*border-top-left-radius: 3px;
	border-top-right-radius: 3px;*/
}

.frm-cuerpo {
    margin: 0px 10px 10px 10px;
}

a {
    color: #1abc9c;
    text-decoration: none;
}

input, input[type="text"], input[type="password"] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

    input[type="text"]:focus, input[type="password"]:focus {
        outline-color: transparent;
        border: 1px solid #1abc9c;
    }

.logueo {
    /*background-color: #FBF8F8;*/
    background-color: white;
    height: 100%;
}

.contenido-logueo {
    width: 360px;
    margin: 7% auto;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -webkit-box-shadow: 10px 10px 11px -3px rgba(0,0,0,0.19);
    -moz-box-shadow: 10px 10px 11px -3px rgba(0,0,0,0.19);
    box-shadow: 10px 10px 11px -3px rgba(0,0,0,0.19);
}

.panel-cabecera {
    background-color: #1abc9c;
    border-color: #1abc9c;
    padding: 10px 15px;
    color: white;
    text-align: center;
}

.panel-cuerpo {
    padding: 15px;
}

.form-grupo {
    position: relative;
    margin-bottom: 15px;
}

.form-texto {
    border: 1px solid #d9d9d9;
    box-shadow: none;
        color: #8B91A0;
    display: block;
    width: 98%;
    height: 34px;
    padding-left: 6px;
    	font-family: Tahoma;
	font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #ffffff;

}

.quitar-pie {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.form-control-icono {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
    padding-top: 10px;
}

.boton {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
    text-decoration: none;
}

.btn-aceptar {
    width: 100%;
    border-radius: 0;
    transition: all 0.3s ease 0s;
}

    .btn-aceptar:hover, .btn-centrado:hover, .btnCaptcha:hover {
        color: #1abc9c;
        border: 1px solid #1abc9c;
        background: white;
    }

.btn-centrado {
    border-radius: 0;
    width: 150px;
    transition: all 0.3s ease 0s;
}

.btnCaptcha {
    margin-bottom: 70px;
    transition: all 0.3s ease 0s;
}

.spMensaje {
    margin-top: 0px;
    color: red;
}

.azul {
    color: #0073b7 !important;
    text-align: justify;
}

@font-face {
    font-family: 'Icons';
    src: url('fonts/glyphicons-halflings-regular.eot');
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.Icons1 {
    display: inline-block;
    font: normal normal normal 14px/1 Icons;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
    content: "\e008";
    color:#d9d9d9
}

.icon-lock:before {
    content: "\e033";
    color:#d9d9d9
}

.icon-refresh:before {
    content: "\e031";
}

.icon-envelope:before {
    content: "\2709";
}

@media (max-width: 767px) {
    .contenido-logueo {
        width: 300px;
    }
}

.Mensaje {
    color: red;
}

.error {
border:1px solid red!important;
}
