@{
    Layout = null;
    ViewBag.Title = "Buscador de Paciente";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" http-equiv="Content-Type" charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Styles/HHMM.css?v=@ViewBag.versionJS" rel="stylesheet" />
</head>
<body style="overflow-y: hidden">
    <div>
        <div class="frm-cuerpo" style="padding: 20px 0 10px">
            <div id="divBusqueda" class="form-grupo fila">
                <div class="form-grupo fila">
                    <div class="tam-6" style="text-align: left">
                        <span>Nombre</span>
                    </div>
                    <div class="tam-24">
                        <input type="text" style="width: 101%" id="txtBusquedaNombre" />
                    </div>
                </div>
                <div class="form-grupo fila">
                    <div class="tam-6" style="text-align: left">
                        <span>Apellido Paterno</span>
                    </div>
                    <div class="tam-8">
                        <input type="text" style="width: 100%" id="txtBusquedaApePaterno" />
                    </div>
                    <div class="tam-6" style="text-align: left">
                        <span>Apellido Materno</span>
                    </div>
                    <div class="tam-8">
                        <input type="text" style="width: 100%" id="txtBusquedaApeMaterno" />
                    </div>
                    <div class="tam-5">
                        <span class="boton" id="btnBuscar">Buscar</span>
                    </div>
                </div>
            </div>
            <br />
            <div id="divPaciente" class="tabla"></div>
            <div class="form-grupo fila centrado">
                <div class="tam-5">
                    <span class="boton" id="btnSeleccionarPaciente">Seleccionar</span>
                </div>
                <div class="tam-5">
                    <span class="boton" id="btnCancelarPaciente">Cancelar</span>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/PacienteLista.js?v=@ViewBag.versionJS"></script>
</body>
</html>
