@{
	Layout = null;
	ViewBag.Title = "Generación de Descuentos";
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="~/Styles/HHMM.css?v=@ViewBag.versionJS" rel="stylesheet" />
</head>
<body>
	<div class="frm-cabecera">@ViewBag.Title</div>
	<div class="frm-cuerpo">
		<div class="form-grupo fila centrado">
			<br />
			<div class="form-grupo fila">
				<div class="tam-5" style="text-align: left">
					<span>Sucursal</span>
				</div>
				<div class="tam-12">
					<input id="txtSucursal" type="text" class="form-texto validar lectura" data-secuencia="1" data-validacion="validarTexto|Sucursal" maxlength="20" style="width: 100%;" readonly />
				</div>
				<div class="tam-1">
				</div>
				<div class="tam-6" style="text-align: left">
					<span>Médico</span>
				</div>
				<div class="tam-12">
					<input id="txtMedico" type="text" class="form-texto validar lectura" data-secuencia="1" data-validacion="validarTexto|Médico" maxlength="20" placeholder="" style="width: 100%;" readonly />
				</div>
				<div class="tam-1">
					<span class="Icons fa-search puntero" id="spnDoctor"></span>
				</div>
				<div class="tam-8">
					<input style="width: 100%;" id="btnBuscar" type="button" value="Buscar" class="boton btn-centrado" />
				</div>
			</div>
			<div class="form-grupo fila">
				<div class="tam-5" style="text-align: left">
					<span>Período</span>
				</div>
				<div class="tam-8">
					<select id="cboMes" class="validar" data-secuencia="1" data-validacion="validarCombo|Período" style="width: 100%;">
						<option value="0">Seleccione</option>
						<option value="1">Enero</option>
						<option value="2">Febrero</option>
						<option value="3">Marzo</option>
						<option value="4">Abril</option>
						<option value="5">Mayo</option>
						<option value="6">Junio</option>
						<option value="7">Julio</option>
						<option value="8">Agosto</option>
						<option value="9">Setiembre</option>
						<option value="10">Octubre</option>
						<option value="11">Noviembre</option>
						<option value="12">Diciembre</option>
					</select>
				</div>
				<div class="tam-3">
					<input id="txtAnio" type="text" class="form-texto validar" data-secuencia="1" data-validacion="validarTexto|Anio" maxlength="4" placeholder="" style="width: 90%;" onkeypress="return event.charCode >= 48 && event.charCode <= 57;" />
				</div>
				<div class="tam-1">
				</div>
				<div class="tam-6" style="text-align: left">
					<span>Estado</span>
				</div>
				<div class="tam-7" style="padding-left: 5px;">
					<select style="width: 105%;" id="ddlEstado"><option value="A">Test</option></select>
				</div>
				<div class="tam-3" style="padding-left: 20px; width: 110px"></div>
				<div class="tam-8">
				</div>

			</div>
			<br /><br />
			<div class="form-grupo fila" style="display: table">
				<div class="tam-18" style="display: table-cell;">
					<div id="divPrincipal" class="tabla"></div>
				</div>
				<div class="tam-80" style="display: table-cell; vertical-align: top">
					<div id="divDetalle" class="tabla"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="PopupMedico" class="PopUp">
		<div style="width: 1000px; margin: 3% auto">
			<div class="row">
				<div class="PopupCabecera bg-amarillo center black">
					<div class="divCerrarPopUp" style="width: 1000px; position: fixed; display: block"><span class="cerrarPopUp" onclick="abrirPopup('PopupMedico');"><i class="Icons fa-close"></i></span></div>
					<h5 style="margin: 10px" id="TituloPopupMedico">SELECCIONAR MEDICO</h5>
				</div>
				<div class="PopupCuerpo bg-white" style="padding: 15px 20px">
					<div class="frm-cuerpo-det">
						<div id="ifrMedico"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" id="hdfMedico" value="0" />
	<script src="~/Scripts/ProcesoDescuento.js?v=@ViewBag.versionJS"></script>
</body>
</html>
