@{
	Layout = null;
	ViewBag.Title = "Detalle de Conceptos";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConceptosResumenDetalleLista</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
