@{
	Layout = null;
	ViewBag.Title = "Bandeja de Correos de Difundir";
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="~/Styles/HHMM.css?v=@ViewBag.versionJS" rel="stylesheet" />
	<link href="~/Styles/BandejaCorreoListar.css?v=@ViewBag.versionJS" rel="stylesheet" />
</head>
<body>
	<div class="frm-cabecera">@ViewBag.Title</div>
	<div class="frm-cuerpo">
		<div>
			<p><span id="spnMensaje" class="Mensaje" /></p>
		</div>
		<div class="form-grupo fila centrado">
			<br />
			<div class="form-grupo" style="display: inline-block;">
				<div class="form-grupo" style="display: table-cell">
					<div class="form-grupo fila">
						<div class="tam-5 izquierda">
							<span>Sucursal</span>
						</div>
						<div class="tam-10">
							<input id="txtSucursal" type="text" class="form-texto validar lectura" data-secuencia="1" data-validacion="validarTexto|Sucursal" maxlength="20" style="width: 100%;" placeholder="" readonly />
						</div>
						<div class="tam-2">
						</div>
						<div class="tam-4 izquierda">
							<span>Médico</span>
						</div>
						<div class="tam-11">
							<input id="txtMedico" type="text" class="form-texto validar lectura" data-secuencia="1" data-validacion="validarTexto|Medico" maxlength="20" placeholder="" style="width: 100%;" readonly />
						</div>
						<div class="tam-1">
							<span class="Icons fa-search" id="spnDoctor" style="cursor:pointer"></span>
						</div>
						<div class="tam-3">
						</div>
					</div>
					<div class="form-grupo fila">
						<div class="tam-5 izquierda">
							<span>Tipo Admisión</span>
						</div>
						<div class="tam-10">
							<select id="cboTipoAdmision" class="validar" data-secuencia="1" data-validacion="validarCombo|Tipo de Admisión" style="width: 100%;"></select>
						</div>
						<div class="tam-2">
						</div>
						<div class="tam-4 izquierda">
							<span>Periodo</span>
						</div>
						<div class="tam-11">
							<select id="cboMes" class="validar" data-secuencia="1" data-validacion="validarCombo|Período" style="width: 48%; float: left;">
								<option value="0">Seleccione</option>
								<option value="1">Enero</option>
								<option value="2">Febrero</option>
								<option value="3">Marzo</option>
								<option value="4">Abril</option>
								<option value="5">Mayo</option>
								<option value="6">Junio</option>
								<option value="7">Julio</option>
								<option value="8">Agosto</option>
								<option value="9">Setiembre</option>
								<option value="10">Octubre</option>
								<option value="11">Noviembre</option>
								<option value="12">Diciembre</option>
							</select>
							<input id="txtAnio" type="text" class="form-texto validar" data-secuencia="1" data-validacion="validarTexto|Periodo2" maxlength="4" placeholder="" style="width: 45%; margin-left: 5px;" />
						</div>
						<div class="tam-1">
						</div>
						<div class="tam-3">
						</div>
					</div>

					<div class="form-grupo fila">
						<div class="tam-5 izquierda">
							<span>Orden Atención</span>
						</div>
						<div class="tam-10">
							<input id="txtOrden" type="text" class="form-texto validar" data-secuencia="1" data-validacion="validarTexto|Orden de Admisión" maxlength="4" placeholder="" style="width: 100%;" />
						</div>
						<div class="tam-2">
						</div>
						<div class="tam-4 izquierda">
							<span>Expediente</span>
						</div>
						<div class="tam-11">
							<input id="txtExpediente" type="text" class="form-texto validar" data-secuencia="1" data-validacion="validarTexto|Expediente" maxlength="4" placeholder="" style="width: 100%;" />
						</div>
						<div class="tam-1">
						</div>
						<div class="tam-3">
						</div>
					</div>
				</div>
				<div class="form-grupo" style="display: table-cell; vertical-align: middle">
					<div class="tam-6">
						<input style="width: 100%;" id="btnBuscar" type="button" value="Buscar" class="boton btn-centrado" />
					</div>
				</div>
			</div>
		</div>
		<br />
		<div id="divBandejaCorreo" class="tabla"></div>
	</div>
	@*Ventana Popup*@
	<div id="PopupBandejaCorreo" class="PopUp">
		<div style="width: 820px">
			<div class="row">
				<div class="PopupCabecera bg-amarillo center black">
					<div class="divCerrarPopUp" style="width: 650px; position: fixed; display: block"><span class="cerrarPopUp" onclick="abrirPopup('PopupBandejaCorreo');"><i class="Icons fa-close"></i></span></div>
					<h5 style="margin: 10px" id="TituloPopupBandejaCorreo"></h5>
				</div>
				<div class="PopupCuerpo bg-white" style="padding: 15px 20px">
					<div class="frm-cuerpo-det" style="display: inline-block;">
						<div class="form-grupo fila">
							<div class="tam-6">
								<span>De :</span>
							</div>
							<div class="tam-10">
								<input type="text" id="txtDe" class="form-texto lectura" style="width: 100%" readonly>
							</div>
							<div class="tam-6">
								<span>Fecha :</span>
							</div>
							<div class="tam-10">
								<input type="text" id="txtFecha" class="form-texto lectura" style="width: 100%" readonly>
							</div>
						</div>
						<div class="form-grupo fila">
							<div class="tam-6">
								<span>Para :</span>
							</div>
							<div class="tam-10">
								<input type="text" id="txtPara" class="form-texto lectura" style="width: 100%" readonly>
							</div>
							<div class="tam-6">
								<span>Nro Planilla :</span>
							</div>
							<div class="tam-10">
								<input type="text" id="txtPlanilla" class="form-texto lectura" style="width: 100%" readonly>
							</div>
						</div>
						<div class="form-grupo fila">
							<div class="tam-6">
								<span>Medico :</span>
							</div>
							<div class="tam-10">
								<input type="text" id="txtMedicoNombre" class="form-texto lectura" style="width: 100%" readonly>
							</div>
							<div class="tam-6">
								<span>Periodo :</span>
							</div>
							<div class="tam-10">
								<input type="text" id="txtPeriodo" class="form-texto lectura" style="width: 100%" readonly>
							</div>
						</div>
						<div class="form-grupo fila">
							<div>
								<textarea rows="8" cols="80" id="txtCuerpo" class="form-texto" value="" style="width: 100%; font-family: Tahoma; pointer-events: none; resize: none" readonly> </textarea>
							</div>
						</div>
						<div class="form-grupo fila">
							<div class="tam-6">
								<span>Adjunto :</span>
							</div>
							<div class="tam-20">
								<div id="divAdjunto"></div>
							</div>
						</div>
						<div class="form-grupo fila centrado">
							<div class="tam-25">
								<span class="boton" onclick="abrirPopup('PopupBandejaCorreo')">Cerrar</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="PopupMedico" class="PopUp">
		<div style="width: 1000px; margin: 3% auto">
			<div class="row">
				<div class="PopupCabecera bg-amarillo center black">
					<div class="divCerrarPopUp" style="width: 830px; position: fixed; display: block"><span class="cerrarPopUp" onclick="abrirPopup('PopupMedico');"><i class="Icons fa-close"></i></span></div>
					<h5 style="margin: 10px" id="TituloPopupMedico">SELECCIONAR MEDICO</h5>
				</div>
				<div class="PopupCuerpo bg-white" style="padding: 15px 20px">
					<div class="frm-cuerpo-det">
						<div id="ifrMedico"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="PopupEstado" class="PopUp">
		<div style="width: 400px">
			<div class="row">
				<div class="PopupCabecera bg-amarillo center black">
					<div class="divCerrarPopUp" style="width: 400px; position: fixed; display: block"><span class="cerrarPopUp" onclick="abrirPopup('PopupEstado');"><i class="Icons fa-close"></i></span></div>
					<h5 style="margin: 10px" id="TituloPopupEstado">CAMBIAR ESTADO</h5>
				</div>
				<div class="PopupCuerpo bg-white" style="padding: 15px 20px">
					<div class="frm-cuerpo-det">
						<div class="form-grupo fila centrado">
							<div class="tam-10">
								¿Esta seguro de cambiar el estado?
							</div>
						</div>
						<br />
						<div class="form-grupo fila centrado">
							<div class="tam-5">
								<span class="boton" id="btngrabarEstado">Grabar</span>
							</div>
							<div class="tam-5">
								<span class="boton" onclick="abrirPopup('PopupEstado')">Cancelar</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<iframe id="txtExportar" style="display: none"></iframe>
	<div id="alerta">
		<div class="alerta move-right">
			<span id="spnAlerta" style="display: block"></span>
		</div>
	</div>
	<input type="hidden" id="hdfOpc" value="-1" />
	<input type="hidden" id="hdfBandejaCorreoId" value="-1" />
	<input type="hidden" id="hdfMedico" value="0" />
	<div id='tipError' class='tip' style='display: none; position: absolute' data-elemento=""></div>
	<script src="~/Scripts/BandejaCorreoListar.js?v=@ViewBag.versionJS"></script>
</body>
</html>
